@charset "utf-8";
.linkcolor {
	text-decoration: none;
	color: #9F0;
}
.bb {

	background-color: #FF0;
}
#date {
	padding: 10px;
	color: #999;
	font-size: 14px;
}
#user {
	padding: 10px;
	color: #695C61;
	font-size: 14px;
	height: 300px;
}

#IMG {
	background-image: url(pics/modifier.png);
	background-repeat: no-repeat;
	background-position: center center;

}
.td-client {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
}
.td-gauche {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: left;
	margin: 10px;
	padding: 10px;
	position: relative;
}
.body {
	background-color: #000;
	color: #999;
}
.input-table {
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.td-point {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	background-color: #999;
	text-align: center;
	width: 30px;
}
.td-date {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
	
}
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #000000;
}

.td-client {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
}
.td-gauche {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: left;
	margin: 10px;
	padding: 10px;
	position: relative;
}

.input-table {
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 700px;
}
.td-point {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	background-color: #999;
	text-align: center;
	width: 30px;
}
.td-date {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
	
}/* ~~ Element/tag selectors ~~ */

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	text-align: center;
	font-size: 14px;
	color: #999;
}


/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */



/* ~~ This fixed width container surrounds all other divs ~~ */
.container {
	background: #FFFFFF; /* the auto value on the sides, coupled with the width, centers the layout */
	background-color: #000;
	color: #CCC;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 90%;
}

/* ~~ The header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo. ~~ */
.header {
	background-color: #000000;
}

/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/
.sidebar1 {
	padding: 10px;

}
.content {
	text-align: center;
	color: #999;
}
.sidebar2 {
	float: right;

	padding: 10px;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */



/* ~~ The footer styles ~~ */
.footer {
	padding: 10px 0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}

.td-client {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
}
.td-gauche {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 10px;
	padding: 10px;
	position: relative;
}

.input-table {
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 500px;
}
.td-point {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	background-color: #999;
	text-align: center;
	width: 30px;
}
.td-date {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
	
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the .container) if the .footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
td {
	text-align: center;
	vertical-align: middle;
	color: #CCC;
}
.search_results {
	text-transform: capitalize;
	color: #CCC;
	margin: 10px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}
.search_results2 {
	text-align: right;
	vertical-align: middle;
	margin: 10px;
	padding: 10px;
	color: #03C;
}
.fiche_button {
	/* [disabled]text-align: right; */
}
.info-fiche {
	text-align: right;
}
.input_fiche {
	color: #C39;
	background-color: #000;
	text-align: center;
	margin: 10px;
	padding: 10px;
	font-size: 18px;
}
.container .sidebar1 .nav li #cur {
	color: #F93;
}
#code {
	font-size: 24px;
	text-transform: uppercase;
	margin: 5px;
	padding: 5px;
	height: 30px;
	width: 300px;
}
.container .content table {
	color: #CCC;
}
.container .content table tr th {
	color: #CCC;
}
.container .content table tr .dette {
	width: 200px;
}
.container .content table tr td .linkcolor {
	color: #CCC;
	text-align: left;
	text-decoration:none;
	/* [disabled]text-decoration: underline; */
}
.container table tr td {
	padding: 5px;
}
.numright {
	text-align: right;
}

.Societe{
	text-align: center;
	color: #0F0;
	text-decoration: none;	
}
