/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('../images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('../images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('../images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('../images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../images/forward_enabled_hover.png') no-repeat top right;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
	font-size: 16px;
	color: #000;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
 
table.display thead th:active,
table.display thead td:active {
	outline: none;
	color: #999;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
.ex_highlight #dataTables tbody tr.even:hover, #dataTables tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #dataTables tbody tr.odd:hover, #dataTables tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #dataTables tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #dataTables tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #dataTables tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #dataTables tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #dataTables tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #dataTables tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #dataTables tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #dataTables tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}


/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}
.linkcolor {
	text-decoration: none;
	color:#330099;
}
.bb {

	background-color: #FF0;
}
#date {
	padding: 10px;
	color: #999;
	font-size: 14px;
}
#user {
	padding: 10px;
	color: #695C61;
	font-size: 14px;
	height: 300px;
}

#IMG {
	background-image: url(pics/modifier.png);
	background-repeat: no-repeat;
	background-position: center center;

}
.td-client {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
}
.td-gauche {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: left;
	margin: 10px;
	padding: 10px;
	position: relative;
}
.body {
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	background-color: #000;
}
.input-table {
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.td-point {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	background-color: #999;
	text-align: center;
	width: 30px;
}
.td-date {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
	
}

.td-client {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
}
.td-gauche {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: left;
	margin: 10px;
	padding: 10px;
	position: relative;
}

.input-table {
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 700px;
}
.td-point {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	background-color: #999;
	text-align: center;
	width: 30px;
}
.td-date {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
	
}/* ~~ Element/tag selectors ~~ */

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	font-size: 36px;
	color: #99F;
	width: 45%;
	padding: 0px;
	float: none;
	text-align: center;
}


/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */



/* ~~ This fixed width container surrounds all other divs ~~ */
.container {
	margin: 0;
	padding: 5px;
	height: auto;
	width: 95%;
	float: left;
}

/* ~~ The header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo. ~~ */
.header {
	background-color: #000000;
	width: 95%;
}

/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/
.sidebar1 {
	padding: 10px;
	margin: 0px;
	width: 95%;

}
.content {
	padding: 10px;
	margin: 0px;
	height: auto;
	width: 95%;
	float: left;
	text-align: left;


}
.sidebar2 {
	float: right;

	padding: 10px;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */



/* ~~ The footer styles ~~ */
.footer {
	padding: 10px 0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}

.td-client {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
}
.td-gauche {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 10px;
	padding: 10px;
	position: relative;
}

.input-table {
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 500px;
}
.td-point {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	background-color: #999;
	text-align: center;
	width: 30px;
}
.td-date {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #006;
	text-decoration: underline;
	background-color: #999;
	text-align: right;
	margin: 5px;
	padding: 5px;
	
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the .container) if the .footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.search_results {
	text-transform: capitalize;
	color: #CCC;
	margin: 10px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}
.search_results2 {
	text-align: right;
	vertical-align: middle;
	margin: 10px;
	padding: 10px;
	color: #03C;
}
.fiche_button {
	/* [disabled]text-align: right; */
}
.info-fiche {
	text-align: right;
}
.input_fiche {
	text-align: center;
	margin: 0px;
	padding: 2px;
	font-size: 18px;
	width: 25%;
	float: left;
}
#cur {
	color: #F93;
}
#dzi {
	width: 400px;
}

#code {
	font-size: 24px;
	text-transform: uppercase;
	margin: 5px;
	padding: 5px;
	height: 30px;
	width: 300px;
}
.somme {
	width: 90%;
	height: 50px;
	text-align: left;
}
.total_bl_table {
	padding: 10px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-position: right;
	width: auto;

}
.total_bl_td {
	font-size: 24px;
	color: #F63;
	background-color: #000;
	text-transform: capitalize;
	text-align: center;

}
.total_bl_td2 {
	font-size: 24px;
	text-transform: capitalize;
	margin: 10px;
	text-align: center;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}
.total {
	margin: 0px;
	padding: 0px;
	width: 25%;
	left: 30px;
	float: right;
}
.tdtd2 {
	
	border-top-style: ridge;
	
}


#payment {
	position: absolute;
	top: 80%;
}
#bl {
	height: 50px;
	width: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #906;
	text-transform: capitalize;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#total {
	width: auto;
	text-align: center;
	float: Right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#resultat {
	overflow-x:scroll;
	overflow-y:hidden;
	width:100%;
	height:20%;
	margin: 0px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	overflow: auto;
	
}
#table {
	margin: 10px;
	padding: 10px;
	position: absolute;
	top: 280px;
}

.input-current-add {
	text-align: center;
	font-family: Algerian;
	font-size: 18px;
	color: #0FF;
	height: 40px;
	width: 160px;
	background-color: #000;
	padding: 5px;
}
#confirm-fact {
	position: absolute;
	height: 50px;
	width: 300px;
	bottom: inherit;
	right: 473px;
	top: 30px;
}
.tdtd3 {
	
		width: 300px;	
}
.link {
	text-decoration: none;
	color: #FF6;
	text-align: left;
	font-size: 24px;
}
#button {
	text-align: center;
	vertical-align: top;
	height: 40px;
	width: 30%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.input-current-add2 {
	font-family: Algerian;
	font-size: 18px;
	color: #F60;
	background-color: #000;
	height: 40px;
	width: 200px;
	padding: 5px;
	text-align: center;
}
.bt {
	background-image: url(pics/noir1.png);
	background-repeat: repeat-x;
	height: 40px;
	width: 130px;
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
.bt:hover
{
	background-image: url(pics/noir2.png);
	background-repeat: repeat-x;
	height: 40px;
	width: 130px;
	color: #F96;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
#btn2 {
	background-image: url(../../design/pics/noir1.png);
	background-repeat: repeat-x;
color: #CCC;
	width: 80px;
height: 30px;

}
#btn2 : hover {
	background-image: url(../../design/pics/noir1.png);
	background-repeat: repeat-x;
	color: #CCC;
	width: 120px;
}
#btn2 : click {
	background-image: url(../../design/pics/noir1.png);
color: #F39;
	width: 120px;

		background-repeat: repeat-x;
}
